.about-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 10px;
}

.image-1{
    width: 350px;
}

.image-2{
    width: 400px;   
}

.image-3{
    width: 350px;
    margin-right: 20px;
}